p span, h1 span, h5 span {
	font-weight: bold;
}

.img-movie-shots {
	padding: 2px 0;
	max-width: 250px;
	height: auto;
}

/* Checkbox stars */
.rating {
  overflow: hidden;
  vertical-align: bottom;
  display: inline-block;
  width: 155px;
  height: 30px;
}

.rating > input {
  opacity: 0;
  margin-right: -100%;
}

.rating > label {
  position: relative;
  display: block;
  float: right;
  background: url('../images/dark_star.png');
  background-size: 30px 30px;
}

.rating > label:before {
  display: block;
  opacity: 0;
  content: '';
  width: 30px;
  height: 30px;
  background: url('../images/light_star.png');
  background-size: 30px 30px;
  transition: opacity 0.2s linear;
}


.rating > label:hover:before,  .rating > label:hover ~ label:before,  .rating:not(:hover) > :checked ~ label:before { opacity: 1; }

ul.pagination {
  margin: 0 auto;
}
.pagination__item {
  text-align: center;
  margin: 0 10px;
  height: 30px;
  width: 30px;
  background: #179052;
  border-radius: 50%;
}
.pagination__item--dots {
  text-align: center;
  margin: 0 10px;
  height: 30px;
  width: 30px;
  background: #179052;
  border-radius: 50%;
}
.pagination__link {
  font-size: 19px;
  color: #fff;
}
.pagination__link:hover{
  text-decoration: none;
  color: #fff;
}
.pagination__link:visited{
  color: #fff;
}
.active{
  background: #272727;
}
.paginatin__item--dots {}

a{
  color: #179052;
}

a:hover{
  color: #179052;
}